body{
  background-color: rgb(170, 240, 240);
}
.buttons{
  display: flex;
  justify-content: center;
}
/*subcribe button*/
.subscribe-button{
    background-color: rgb(224, 8, 8);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px ;
    transition: opacity 0.15s;
  }
  .subscribe-button:hover{
    opacity: 0.7;
  }
  .subscribe-button:active{
    opacity: 0.5;
  }

  .join-button{
    color: rgb(24, 105, 255);
    background-color: white;
    border-width: 1px;
    border-color:rgb(24, 105, 255) ;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.15s,color 0.15s;

  }
  .join-button:hover{
    background-color: rgb(24, 105, 255) ;
    color:  white;
  }
  .join-button:active{
    opacity: 0.5;
  }

  .apply-button{
    background-color: rgb(19, 111, 197);
    color: white;
    width: 80px;
    height:35px ;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.15s;
    
  

  }
  .apply-button:hover{
    opacity: 0.7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
   
  }
  .apply-button:active{
    opacity: 0.5;
  }